* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial Black, Arial Bold, Gadget, sans-serif;
}

/*  -- -- start navbar -- --  */
.nav-parent {
  background-color: #2c3e52;
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-div {
  width: max-content;
  padding: 5px;
}
.nav-div p {
  padding: 5px;
}
.nav-div h3:hover {
  background-color: aliceblue;
  color: black;
  cursor: pointer;
}
.nav-ul {
  list-style: none;
  display: flex;
  width: auto;
  flex-wrap: wrap;
}
@media (max-width: 486px) {
  .nav-parent {
    display: flex;
    flex-direction: column;
  }
  .nav-ul {
    width: 100px;
  }
}
.nav-ul .list-item {
  padding: 5px 15px;
  font-size: 10px;
}
.nav-ul .list-item:hover {
  background-color: aliceblue;
  color: black;
  cursor: pointer;
}
/*  -- -- end navbar -- -- */
/* -- -- start interface section -- --  */

.interface-section {
  position: relative;
  text-align: center;
  color: white;
  background-color: #0ea99d;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.interface-img {
  width: 200px;
  margin: auto;
}

.star-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto;
  width: max-content;
}
.star-left-div {
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 2px;
  margin: 5px;
}
.star-right-div {
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 2px;
  margin: 5px;
}

@media (min-width: 10px) and (max-width: 361px) {
  .star-div {
    flex-direction: column;
  }
}
/* -- -- end interface section -- --  */
/* -- -- start portoflio section -- --  */

.port-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
}
.star-left-div-port {
  background-color: rgb(0, 0, 0);
  width: 50px;
  height: 2px;
  margin: 5px;
}
.star-right-div-port {
  background-color: rgb(0, 0, 0);
  width: 50px;
  height: 2px;
  margin: 5px;
}
.port-imgs {
  padding: 10px 0;
  width: fit-content;
  margin: auto;
}
.port-imgs img {
  width: 300px;
  height: 250px;
  margin: 20px 10px;
  border-radius: 5px;
  box-shadow: 0 0px 09px 01px rgb(153, 153, 153);
}
@media (max-width: 470px) {
  .port-imgs img {
    width: 60vw;
    height: 40vw;
  }
  body {
    font-size: small;
  }
}
/* -- -- end portoflio section -- --  */
/* start ABOUT section */
.section-about {
  background-color: #0ea99d;
  color: white;
  text-align: center;
  padding: 30px 0;
}
.about-p {
  width: 60%;
  height: max-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 0;
}
@media (min-width: 150px) and (max-width: 1060px) {
  .about-p {
    flex-wrap: wrap;
  }
  .about-p p {
    padding: 15px 0;
  }
}
.about-button {
  background-color: #0ea99d;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 15px;
}
.about-button:hover {
  background-color: burlywood;
  color: black;
  cursor: pointer;
}
/* end ABOUT section */
/* start CONTACT ME esction */
.contact-section {
  text-align: center;
  padding: 30px 0;
}
.form-div {
  width: 40%;
  margin: 0 auto;
  text-align: start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 0;
}
.about-form input {
  width: 100%;
  height: 20px;
  border: navajowhite;
  border-bottom: 1px solid;
  border-color: rgb(179, 179, 179);
  margin: 10px 0;
}
.pass-fill {
  display: block;
}
.tx-area {
  margin-top: 10px;
  border: navajowhite;
  border-bottom: 1px solid;
  border-color: rgb(179, 179, 179);
  width: 100%;
  height: fit-content;
}
.form-div button {
  background-color: #0ea99d;
  padding: 12px;
  border-style: none;
  margin-top: 5px;
  color: aliceblue;
  border-radius: 5px;
}
.form-div button:hover {
  background-color: burlywood;
  color: black;
  cursor: pointer;
}
/* end CONTACT ME esction */

/* start footer */
footer {
  /* text-align: center; */
  background-color: #2c3e52;
  color: aliceblue;
  height: fit-content;
}
footer section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  position: relative;
}
footer section div {
  width: 25%;
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer div h3 {
  padding: 0 0 15px;
}
.sm-links {
  flex-direction: row;
  border-bottom: 0px solid;
}
.sm-links i {
  padding: 10px;
  border: 2px solid white;
  border-radius: 100%;
  border-color: aliceblue;
  margin: 2px;
}
@media (max-width: 900px) {
  footer section {
    flex-wrap: wrap;
    flex-direction: column;
    height: max-content;
  }
  footer section div {
    width: unset;
    margin: 20px;
    border-bottom: 2px solid;
  }
}
.page-sole {
  width: 100%;
  height: 100px;
  color: aliceblue;
  background-color: rgb(27 36 49);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end footer */
